.list-city{
  width: 90%;
  margin: 0 auto;
  text-align: center;
  p{
    position: relative;
  }
}

.temprature-unit {
  font-size: 18px;
  top: 4px;
  position: absolute;
  color: #f9f9f9;
}

.temprature {
  height: 50%;
  font-size: 58px;
  margin-left: 10px;
  position: relative;
}

.weather-item{
  padding: 20px 0;
  text-align: center;
  list-style: none;
  width: 12.5%;
  height: 100%;
  cursor: pointer;
  &:hover {
    background: #555;
  }
}

.cloudness-text {
  color: #f9f9f9;
  font-size: 16px;
}

.cloudness-icon{
  img{
    margin: 0 auto;
    display: block;
    width: 30%;
  }
}

.city-name {
  padding: 10px;
  font-size: 32px;
}
.city-name, .wheather-props {
  display: flex;
  justify-content: center;
}

.datetime {
  text-align: center;
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-wheather-prop {
  padding-right: 50px;
  text-align: center;
  display: flex;
  align-items: flex-start;
}

.wheather-prop, .wheather-prop-icon {
  margin: 10px 5px;
  font-size: 24px;
}

.wheather-prop-unit {
  font-size: 14px;
}

.cloudness{
  img{
    width: 100%;
  }
}